:host {
  @apply flex-grow;
}

table {
  width: 100%;
}

span.active {
  color: green
}

span.inactive {
  color: red
}

h1 {
  @apply text-3xl font-bold mt-8 mb-4;
}

h4 {
  @apply font-bold text-gray-500;
}

#cloud-accounts-wrapper {
  @apply flex-wrap flex flex-row flex-wrap h-full;
}

#cloud-accounts-wrapper main {
  flex: 1;
}

#cloud-accounts-wrapper aside {
  flex: 0 1 200px;
  @apply p-4 bg-gray-100;
}
