<div id="content-wrapper">
  <div *ngIf="cloudAccount !== undefined" id="account-display">
    <main>
      <h1>Account: {{ cloudAccount.attributes.name }}</h1>

      <div class="account-toolbar">
        <div
          class="inline-block bg-red-500 rounded p-2 text-white mr-2"
          *ngIf="cloudAccount.attributes.tags_drift_detected">
          Drift Detected
        </div>
        <div
          class="inline-block bg-gray-500 rounded p-2 text-white mr-2"
          *ngIf="!cloudAccount.attributes.active">
          Inactive Account
        </div>
      </div>

      <dl>
        <div>
          <dd>Cloud</dd>
          <dt>{{ cloudAccount.attributes.cloud_provider }}</dt>
        </div>

        <div>
          <dd>Tenant</dd>
          <dt>{{ cloudAccount.attributes.tenant_id }}</dt>
        </div>

        <div>
          <dd>Account ID</dd>
          <dt>{{ cloudAccount.attributes.account_id }}</dt>
        </div>

        <div>
          <dd>Current Tags</dd>
          <dt>
            <ul>
              <li
                *ngFor="
                  let tag of cloudAccount.attributes.tags_current | keyvalue
                ">
                {{ tag.key }}: {{ tag.value }}
              </li>
            </ul>
          </dt>
        </div>

        <div>
          <dd>Desired Tags</dd>
          <dt>
            <ul>
              <li
                *ngFor="
                  let tag of cloudAccount.attributes.tags_desired | keyvalue
                ">
                {{ tag.key }}: {{ tag.value }}
              </li>
            </ul>
          </dt>
        </div>
      </dl>
    </main>

    <aside>
      <h2>Edit Account:</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" appTagFormValidator>
        <ng-container formArrayName="tags">
          <h3>Tags</h3>

          <ng-container *ngFor="let tagForm of tags.controls; let i = index">
            <div [formGroupName]="i" class="flex flex-wrap">
              <mat-form-field class="w-1/3 p-2 mat-form-field">
                <mat-label>Key</mat-label>
                <input
                  matInput
                  formControlName="key"
                  placeholder="Tag Key"
                  tabindex="{{
                    specifiedTags.get(tagForm.value['key']) !== undefined
                      ? -1
                      : i * 2
                  }}"
                  [readonly]="
                    specifiedTags.get(tagForm.value['key']) !== undefined
                  " />
              </mat-form-field>
              <mat-form-field class="w-1/3 p-2">
                <mat-label>Value</mat-label>
                <input
                  matInput
                  formControlName="value"
                  tabindex="{{ i * 2 + 1 }}"
                  placeholder="Tag Value" />
                <mat-error
                  *ngIf="tagForm.get('value')?.hasError('serverMessage')">
                  {{ tagForm.get('value')?.getError('serverMessage') }}
                </mat-error>
              </mat-form-field>
              <div
                *ngIf="
                  specifiedTags.get(tagForm.value['key']) !== undefined &&
                  specifiedTags.get(tagForm.value['key'])?.attributes
                    ?.description !== ''
                ">
                <button
                  tabindex="-1"
                  mat-icon-button
                  matTooltip="{{
                    specifiedTags.get(tagForm.value['key'])?.attributes
                      ?.description ?? ''
                  }}"
                  type="button">
                  <mat-icon>help</mat-icon>
                </button>
              </div>

              <div class="w-1/3 p-2">
                <div
                  *ngIf="specifiedTags.get(tagForm.value['key']) === undefined">
                  <button
                    type="button"
                    mat-raised-button
                    color="warn"
                    tabindex="-1"
                    (click)="removeTag(i)">
                    Remove Tag
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="flex flex-wrap">
            <div class="w-1/3">&nbsp;</div>
            <div class="w-1/3">&nbsp;</div>
            <div class="w-1/3 px-2">
              <button
                type="button"
                mat-raised-button
                color="accent"
                (click)="addTag()">
                Add Tag
              </button>
            </div>
          </div>
        </ng-container>

        <div class="pt-5">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!form.valid">
            Submit
          </button>
          <div *ngIf="!form.valid" class="py-2">
            <mat-error>The supplied information is invalid.</mat-error>
          </div>
        </div>
      </form>
    </aside>
  </div>

  <div *ngIf="cloudAccount !== undefined">
    <app-audit-log
      [resource_id]="cloudAccount.id"
      [resource_type]="'cloud_account'"></app-audit-log>
  </div>
</div>
