<router-outlet></router-outlet>

<mat-toolbar color="primary" id="navbar">
  <mat-toolbar-row>
    <span>SUSE Skyscraper</span>

    <span class="example-spacer"></span>
    <div>
      <a mat-button *ngIf="isAuthenticated" [matMenuTriggerFor]="userNav"
        ><mat-icon>person</mat-icon>{{ email }}</a
      >
      <mat-menu #userNav>
        <a mat-menu-item *ngIf="isAuthenticated" (click)="logout()">Logout</a>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div id="mainContent">
  <div id="mainContentWrapper">
    <router-outlet></router-outlet>
  </div>
</div>
