<div id="cloud-accounts-wrapper">
  <aside>
    <h4>Display Columns</h4>
    <div>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Columns</mat-label>
          <mat-select
            [formControl]="displayTagsForm"
            multiple
            (selectionChange)="onDisplayTagsChange()">
            <mat-option *ngFor="let tag of tags" [value]="tag">
              {{ tag }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <form [formGroup]="searchFiltersForm" (ngSubmit)="onFilterSubmit()">
        <ng-container formArrayName="filters">
          <h4>Filters</h4>

          <ng-container
            *ngFor="let filter of filterFormArray.controls; let i = index">
            <div
              [formGroupName]="i"
              class="border-slate-200 border p-2 rounded my-2">
              <mat-form-field appearance="fill">
                <mat-select formControlName="key">
                  <mat-option
                    *ngFor="let filter of searchFilters"
                    [value]="filter">
                    {{ filter }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <input
                  matInput
                  formControlName="value"
                  placeholder="Filter Value" />
              </mat-form-field>
              <button
                type="button"
                mat-raised-button
                color="warn"
                (click)="removeFilter(i)">
                Remove Tag
              </button>
            </div>
          </ng-container>
          <div class="flex">
            <div>
              <button type="submit" mat-raised-button color="primary">
                Search
              </button>
            </div>
            <div class="ml-auto">
              <button
                type="button"
                mat-raised-button
                color="accent"
                (click)="addFilter()">
                Add Filter
              </button>
            </div>
          </div>
        </ng-container>
      </form>
    </div>
  </aside>

  <main class="p-4">
    <h1>Accounts</h1>
    <div *ngIf="tableData?.length; else noAccounts">
      <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
        <ng-container matColumnDef="cloud">
          <th mat-header-cell *matHeaderCellDef>Cloud</th>
          <td mat-cell *matCellDef="let element">{{ element.cloud }}</td>
        </ng-container>

        <ng-container matColumnDef="tenant_id">
          <th mat-header-cell *matHeaderCellDef>Tenant ID</th>
          <td mat-cell *matCellDef="let element">{{ element.tenant_id }}</td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.account_id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <div *ngFor="let tag of tags">
          <ng-container matColumnDef="{{ tag }}">
            <th mat-header-cell *matHeaderCellDef>{{ tag }}</th>
            <td mat-cell *matCellDef="let element">{{ element[tag] }}</td>
          </ng-container>
        </div>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              color="primary"
              routerLink="/cloud_tenants/cloud/{{ element.cloud }}/tenant/{{
                element.tenant_id
              }}/accounts/{{ element.account_id }}">
              Show
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef>Active?</th>
          <td mat-cell *matCellDef="let element">
            <span class="active" *ngIf="element.active">Active</span>
            <span class="inactive" *ngIf="!element.active">Disabled</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef>Created At</th>
          <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
        </ng-container>

        <ng-container matColumnDef="updated_at">
          <th mat-header-cell *matHeaderCellDef>Updated At</th>
          <td mat-cell *matCellDef="let element">{{ element.updated_at }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableDisplayedColumns"></tr>
      </table>
    </div>
  </main>
</div>

<ng-template #noAccounts>
  <div>No cloud accounts found</div>
</ng-template>
